body, html {
    margin: 0 auto;
}

#resetBtn{
    width: auto;
    padding: 15px;
    color: white;
    background-color: firebrick;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    margin: 5px 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}
.blocks--drawing{
    display: inline-flex;
    width: 6%;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.active--panel {
    background-color: dodgerblue;
}